@mixin bg_img_color($image, $color) {
  position: relative;
  background: $image;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $color;
  }
}

@mixin bg_img($img) {
  background: $img;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin breakpoint($point) {
  @if $point == xs {
    @media only screen and (max-width: 575px) {
      @content;
    }
  } @else if $point == sm {
    @media only screen and (min-width: 576px) {
      @content;
    }
  } @else if $point == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $point == xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}
