/* --------------------------------- Colors --------------------------------- */
$text_color: #2a2a2a;
$white_color: #fff;
$dark_color: #141414;
$primary_color: #0a315e;
$primary_color_B: #021d3c;
$secondary_color: #c69a00;

/* ---------------------------------- Fonts --------------------------------- */
$primary_font: "Lato", sans-serif;
$secondary_font: "Grifter";
