@import "./variables";
@import "./resets";
@import "./mixin";
@import "./navigation-footer";
@import "./accessories.scss";
@import "./buttons-forms.scss";

.bedcrump {
  @include bg-img(url(../img/bedcrump.jpg));
  height: 28vh;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: $white_color;
    text-transform: capitalize;
  }
}

.who-we-are {
  @include bg_img(url(../img/plain-bg-2.png));
}

.services {
  @include bg_img(url(../img/blue-bg.png));
}

.capabilities {
  @include bg_img(url(../img/plain-bg-3.png));
}

.landing-page {
  @include bg_img(url(../img/bg-img.jpg));
  height: 65vh;
  @include breakpoint(md) {
    height: 75vh;
  }
  .content {
    max-width: 750px;
    color: $white_color;

    h1 {
      font-size: 35px;
      line-height: 1;
      @include breakpoint(md) {
        font-size: 60px;
      }
    }
    p {
      color: $white_color;
      font-size: 18px;
      @include breakpoint(md) {
        font-size: 25px;
      }
    }
  }
}

.who-we-are {
  .service-list {
    li {
      padding: 10px 0px;
      font-size: 16px;
      font-style: italic;
      i {
        color: $secondary_color;
        font-weight: 900;
      }
    }
  }
}

.services {
  color: $white_color;
  p {
    color: $white_color;
  }
  .main_content,
  .sec_title {
    position: relative;
    z-index: 999;
  }
  .wrapper {
    height: 100%;
    background: $primary_color_B;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    &:hover {
      .icon {
        &::before {
          background: $secondary_color;
          top: 0px;
          right: -20px;
        }
        img {
          transform: translateY(0);
        }
      }
    }
    .icon {
      position: relative;
      display: flex;
      align-items: baseline;
      width: 100px;
      height: 100px;
      img {
        // position: relative;
        width: 100px;
        height: 100px;
        z-index: 2;
        transform: translateY(10px);
        transition: 0.5s ease-in-out;
      }
      &::before {
        position: absolute;
        content: "";
        height: 100px;
        width: 100px;
        background: #143459;
        border-radius: 50px;
        z-index: 1;
        top: -8px;
        right: -15px;
        transition: 0.5s ease-in-out;
      }
    }

    @include breakpoint(sm) {
      padding: 20px;
      flex-direction: column;
      .icon {
        margin: 0px auto 30px;
      }
      .text {
        text-align: center;
      }
    }

    @include breakpoint(lg) {
      flex-direction: row;
      padding: 20px 40px;
      .icon {
        margin: 20px 40px 0px 0px;
      }
      .text {
        text-align: left;
      }
    }
  }
}

.capabilities {
  ul {
    li {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      font-weight: 700;
      font-size: 16px;
      i {
        margin-right: 15px;
        font-size: 40px;
        color: $secondary_color;
      }
    }
  }
  .con {
    img {
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
    }
    .primary_btn {
      border-radius: 40px;
    }
  }
}

.partners {
  background-color: rgb(199, 199, 199);
  box-shadow: inset 0px 6px 24px 0px rgba(136, 136, 136, 0.579);
  .sec_title,
  .sec_des {
    position: relative;
    z-index: 99;
  }
  .wrapper {
    background: #fff;
    border-radius: 40px;
    padding: 30px;

    img {
      align-items: center;
    }
  }
}
.Rectangle {
  // background-color: rgb(199, 199, 199);
  box-shadow: inset 0px 6px 24px 0px rgba(136, 136, 136, 0.34);
  position: absolute;
  left: 0px;
  top: 4685px;
  width: 1440px;
  height: 375px;
  z-index: 11;
}

// About us page

.cor-stu,
.sec-1 {
  @include bg_img(url(../img/plain-bg.png));
}
.about {
  .sec-2,
  .sec-4 {
    @include bg_img(url("../img/blue-bg-2.png"));
  }
  .sec-2 {
    .sec_title {
      color: $secondary_color;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }
    p {
      color: $white_color;
      line-height: 1.6;
      display: flex;
      margin-bottom: 20px;
      i {
        margin-right: 10px;
      }
    }
    li {
      color: $white_color;
      padding: 5px 0px;
      font-size: 15px;
    }
  }

  .sec-3 {
    i {
      margin-right: 10px;
      font-size: 15px;
    }
    .sec_title {
      color: $secondary_color;
      margin-bottom: 0px;
      display: flex;
      align-items: center;
    }
    p {
      margin: 0px 0px 35px 22px;
    }
  }

  .sec-4 {
    p,
    li {
      color: $white_color;
    }
    li {
      font-size: 15px;
      padding-bottom: 20px;
    }
  }
}

// Service
.serv {
  .sec-1,
  .sec-3,
  .sec-5 {
    background-color: rgba(207, 207, 207, 0.685);
  }
  &.main {
    .sec-2 {
      @include bg_img(url("../img/blue-bg-2.png"));
      .sec_title {
        color: $secondary_color;
      }
      p,
      li {
        color: $white_color;
      }
    }
    .sec-6 {
      @include bg_img(url("../img/plain-bg.png"));
      a {
        color: $secondary_color;
      }
    }
  }
  &.oil-filed {
    .sec-1 .container,
    .sec-2 .container,
    .sec-3 .container,
    .sec-4 .container,
    .sec-5 .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .sec_title {
      text-align: center;
    }
  }

  .logo {
    max-width: 300px;
  }

  p {
    margin: 15px 0px;
  }
}

/*--------------------------------------------------------------
  # Careers Page
  --------------------------------------------------------------*/
.why-join .img-bg,
.how-to-join .img-bg {
  min-height: 554px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .img-bg {
    min-height: 250px !important;
  }
}

.listings .wrapper {
  background: #0a315e4a;
  padding: 40px 30px;
  border-radius: 8px;
}
.listings .wrapper h3,
.listings .wrapper span,
.listings .wrapper a {
  font-weight: 800;
  position: relative;
}

.listings .wrapper h3,
.why-join ul li h5 {
  border-left: 3px solid #364d59;
  padding-left: 10px;
}

.listings .wrapper span {
  font-size: 14px;
}

.listings .wrapper a {
  color: #364d59 !important;
  font-size: 14px;
}
.why-join ul li h5 {
  font-weight: 800;
  /* margin-bottom: 18px; */
}

.why-join ul li {
  padding-bottom: 20px;
}

/*--------------------------------------------------------------
    # Careers details
    --------------------------------------------------------------*/
.career-details span {
  font-weight: 800;
  margin-right: 20px;
}
.career-details input::placeholder,
.career-details textarea::placeholder,
.career-details .custom-file-label {
  font-size: 12px !important;
  color: #a7a7a7;
}

.career-details label,
.career-details .upload-lable {
  font-size: 14px;
  font-weight: 700;
}

.career-details .upload-lable {
  margin-bottom: 8px;
}

.career-details .custom-file-label {
  font-weight: 400;
}

.career-details .form-check-label {
  font-size: 11px;
}

.career-details .cus .form-control {
  height: calc(2.5em + 0.75rem + 2px);
}

.career-details .submit-btn {
  background: var(--color-primary);
  padding: 6px 30px;
  color: #fff;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 20px 0 30px 0;
}

.contact .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted $primary_color;
}

.contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.contact .php-email-form .form-group {
  padding-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: $primary_color;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: $secondary_color;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: rgba(254, 185, 0, 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
