/* --------------------------------- Colors --------------------------------- */
/* ---------------------------------- Fonts --------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 General css                                */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- Fonts --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@font-face {
  font-family: Grifter;
  src: url("../fonts/grifterbold.otf");
}
/* ---------------------------------- Body ---------------------------------- */
html,
body {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------------------------------- Text ---------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Grifter";
  line-height: 1.5;
}

p {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  font-family: "Lato", sans-serif;
}

a {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  outline: none !important;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

/* ----------------------------------- img ---------------------------------- */
img {
  width: 100%;
  overflow: hidden;
}

/* -------------------------------- Sections -------------------------------- */
.sec_title {
  text-transform: capitalize;
  font-size: 40px;
  color: #0a315e;
}

.sec_des {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #0a315e;
}

.cont_title {
  font-family: "Grifter";
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 2;
}

.cont_des {
  line-height: 1.5;
}

.col_m {
  margin: 0 auto 40px;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0.403);
  border-radius: 0px 0px 30px 30px;
  padding: 0px 10px;
  height: 80px;
  transition: 0.5s ease-in-out;
}
.nav-bar .nav-bar-links .nav-link {
  margin: 0px 8px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6549019608);
  font-weight: 700;
}
.nav-bar .nav-bar-links .nav-link:hover, .nav-bar .nav-bar-links .nav-link.active {
  color: rgba(228, 186, 34, 0.8352941176);
}
.nav-bar .nav-bar-links .nav-link i {
  font-size: 13px;
}
.nav-bar .nav-bar-links .nav-item:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav-bar .nav-bar-links .dropdown .dropdown_menu {
  position: absolute;
  left: 18px;
  background: #fff;
  padding: 15px 0px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 3px;
  z-index: 999 !important;
  margin: 0px 0px 8px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.121);
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: 0.4s;
}
.nav-bar .nav-bar-links .dropdown .dropdown_menu .dropdown_item .dropdown_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: #2a2a2a;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s;
}
.nav-bar .nav-bar-links .dropdown .dropdown_menu .dropdown_item .dropdown_link:hover {
  color: #feb900;
}
.nav-bar.sticky {
  background: #fff;
  height: 70px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.262);
}
.nav-bar.sticky .nav-link,
.nav-bar.sticky .search-btn {
  color: #0a315e !important;
}
.nav-bar.sticky .nav-link:hover, .nav-bar.sticky .nav-link.active {
  color: rgba(228, 186, 34, 0.8352941176) !important;
}
.nav-bar.sticky .menu-toggle {
  background: #0a315e !important;
}
.nav-bar.sticky .menu-toggle::before, .nav-bar.sticky .menu-toggle::after {
  background: #0a315e !important;
}
.nav-bar .mobile-nav-btn {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 20px;
  transition: all 0.5s ease-in-out;
}
.nav-bar .mobile-nav-btn .menu-toggle {
  background: #fff;
  width: 25px;
  height: 2px;
  border-radius: 5px;
}
.nav-bar .mobile-nav-btn .menu-toggle::before, .nav-bar .mobile-nav-btn .menu-toggle::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 25px;
  height: 2px;
  border-radius: 5px;
}
.nav-bar .mobile-nav-btn .menu-toggle::before {
  transform: translateY(-10px);
}
.nav-bar .mobile-nav-btn .menu-toggle::after {
  transform: translateY(10px);
}

.footer {
  position: relative;
  background: url("../img/bg-img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.footer::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(13, 39, 67, 0.7215686275);
}
.footer h3 {
  color: #feb900;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
.footer h3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background: #feb900;
  bottom: 0;
}
.footer ul li {
  padding-bottom: 20px;
  font-size: 18px;
  text-transform: capitalize;
}
.footer a,
.footer i,
.footer p,
.footer li {
  color: #fff;
}
.footer .sub-btn {
  background: #feb900;
  display: flex;
  align-items: center;
}
.footer .social-media {
  display: flex;
  align-items: center;
}
.footer .social-media li {
  margin-right: 15px;
  padding-bottom: 0px;
}
.footer .social-media li a {
  padding: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8156862745);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* --------------------------- Back to top button --------------------------- */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1977cc;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* -------------------------------- Scrollbar ------------------------------- */
/* ---------------------------- Buttons and forms Reset --------------------------- */
button,
.btn:focus,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  border: 1px solid transparent;
}

.primary_btn {
  background: #feb900;
  color: #141414;
  border-radius: 35px;
  padding: 10px 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.bedcrump {
  background: url(../img/bedcrump.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 28vh;
}
.bedcrump .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bedcrump h1 {
  color: #fff;
  text-transform: capitalize;
}

.who-we-are {
  background: url(../img/plain-bg-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services {
  background: url(../img/blue-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.capabilities {
  background: url(../img/plain-bg-3.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page {
  background: url(../img/bg-img.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}
@media only screen and (min-width: 768px) {
  .landing-page {
    height: 75vh;
  }
}
.landing-page .content {
  max-width: 750px;
  color: #fff;
}
.landing-page .content h1 {
  font-size: 35px;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .landing-page .content h1 {
    font-size: 60px;
  }
}
.landing-page .content p {
  color: #fff;
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .landing-page .content p {
    font-size: 25px;
  }
}

.who-we-are .service-list li {
  padding: 10px 0px;
  font-size: 16px;
  font-style: italic;
}
.who-we-are .service-list li i {
  color: #feb900;
  font-weight: 900;
}

.services {
  color: #fff;
}
.services p {
  color: #fff;
}
.services .main_content,
.services .sec_title {
  position: relative;
  z-index: 999;
}
.services .wrapper {
  height: 100%;
  background: #021d3c;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}
.services .wrapper:hover .icon::before {
  background: #feb900;
  top: 0px;
  right: -20px;
}
.services .wrapper:hover .icon img {
  transform: translateY(0);
}
.services .wrapper .icon {
  position: relative;
  display: flex;
  align-items: baseline;
  width: 100px;
  height: 100px;
}
.services .wrapper .icon img {
  width: 100px;
  height: 100px;
  z-index: 2;
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
}
.services .wrapper .icon::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  background: #143459;
  border-radius: 50px;
  z-index: 1;
  top: -8px;
  right: -15px;
  transition: 0.5s ease-in-out;
}
@media only screen and (min-width: 576px) {
  .services .wrapper {
    padding: 20px;
    flex-direction: column;
  }
  .services .wrapper .icon {
    margin: 0px auto 30px;
  }
  .services .wrapper .text {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .services .wrapper {
    flex-direction: row;
    padding: 20px 40px;
  }
  .services .wrapper .icon {
    margin: 20px 40px 0px 0px;
  }
  .services .wrapper .text {
    text-align: left;
  }
}

.capabilities ul li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
}
.capabilities ul li i {
  margin-right: 15px;
  font-size: 40px;
  color: #feb900;
}
.capabilities .con img {
  margin-bottom: 15px;
}
.capabilities .con p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}
.capabilities .con .primary_btn {
  border-radius: 40px;
}

.partners {
  background-color: rgb(199, 199, 199);
  box-shadow: inset 0px 6px 24px 0px rgba(136, 136, 136, 0.579);
}
.partners .sec_title,
.partners .sec_des {
  position: relative;
  z-index: 99;
}
.partners .wrapper {
  background: #fff;
  border-radius: 40px;
  padding: 30px;
}
.partners .wrapper img {
  align-items: center;
}

.Rectangle {
  box-shadow: inset 0px 6px 24px 0px rgba(136, 136, 136, 0.34);
  position: absolute;
  left: 0px;
  top: 4685px;
  width: 1440px;
  height: 375px;
  z-index: 11;
}

.cor-stu,
.sec-1 {
  background: url(../img/plain-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about .sec-2,
.about .sec-4 {
  background: url("../img/blue-bg-2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .sec-2 .sec_title {
  color: #feb900;
  display: flex;
  align-items: center;
}
.about .sec-2 .sec_title i {
  font-size: 20px;
  margin-right: 10px;
}
.about .sec-2 p {
  color: #fff;
  line-height: 1.6;
  display: flex;
  margin-bottom: 20px;
}
.about .sec-2 p i {
  margin-right: 10px;
}
.about .sec-2 li {
  color: #fff;
  padding: 5px 0px;
  font-size: 15px;
}
.about .sec-3 i {
  margin-right: 10px;
  font-size: 15px;
}
.about .sec-3 .sec_title {
  color: #feb900;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.about .sec-3 p {
  margin: 0px 0px 35px 22px;
}
.about .sec-4 p,
.about .sec-4 li {
  color: #fff;
}
.about .sec-4 li {
  font-size: 15px;
  padding-bottom: 20px;
}

.serv .sec-1,
.serv .sec-3,
.serv .sec-5 {
  background-color: rgba(207, 207, 207, 0.685);
}
.serv.main .sec-2 {
  background: url("../img/blue-bg-2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.serv.main .sec-2 .sec_title {
  color: #feb900;
}
.serv.main .sec-2 p,
.serv.main .sec-2 li {
  color: #fff;
}
.serv.main .sec-6 {
  background: url("../img/plain-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.serv.main .sec-6 a {
  color: #feb900;
}
.serv.oil-filed .sec-1 .container,
.serv.oil-filed .sec-2 .container,
.serv.oil-filed .sec-3 .container,
.serv.oil-filed .sec-4 .container,
.serv.oil-filed .sec-5 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.serv.oil-filed .sec_title {
  text-align: center;
}
.serv .logo {
  max-width: 300px;
}
.serv p {
  margin: 15px 0px;
}

/*--------------------------------------------------------------
  # Careers Page
  --------------------------------------------------------------*/
.why-join .img-bg,
.how-to-join .img-bg {
  min-height: 554px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .img-bg {
    min-height: 250px !important;
  }
}
.listings .wrapper {
  background: rgba(10, 49, 94, 0.2901960784);
  padding: 40px 30px;
  border-radius: 8px;
}

.listings .wrapper h3,
.listings .wrapper span,
.listings .wrapper a {
  font-weight: 800;
  position: relative;
}

.listings .wrapper h3,
.why-join ul li h5 {
  border-left: 3px solid #364d59;
  padding-left: 10px;
}

.listings .wrapper span {
  font-size: 14px;
}

.listings .wrapper a {
  color: #364d59 !important;
  font-size: 14px;
}

.why-join ul li h5 {
  font-weight: 800;
  /* margin-bottom: 18px; */
}

.why-join ul li {
  padding-bottom: 20px;
}

/*--------------------------------------------------------------
    # Careers details
    --------------------------------------------------------------*/
.career-details span {
  font-weight: 800;
  margin-right: 20px;
}

.career-details input::-moz-placeholder, .career-details textarea::-moz-placeholder {
  font-size: 12px !important;
  color: #a7a7a7;
}

.career-details input::placeholder,
.career-details textarea::placeholder,
.career-details .custom-file-label {
  font-size: 12px !important;
  color: #a7a7a7;
}

.career-details label,
.career-details .upload-lable {
  font-size: 14px;
  font-weight: 700;
}

.career-details .upload-lable {
  margin-bottom: 8px;
}

.career-details .custom-file-label {
  font-weight: 400;
}

.career-details .form-check-label {
  font-size: 11px;
}

.career-details .cus .form-control {
  height: calc(2.5em + 0.75rem + 2px);
}

.career-details .submit-btn {
  background: var(--color-primary);
  padding: 6px 30px;
  color: #fff;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 20px 0 30px 0;
}

.contact .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted #0a315e;
}

.contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.contact .php-email-form .form-group {
  padding-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #0a315e;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #feb900;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type=submit]:hover {
  background: rgba(254, 185, 0, 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */